In [7]:
import pandas as pd

In [15]:
path = '/Users/zhaotangyao/Downloads/Capstone/Datasets/'
sportseg_df = pd.read_excel(path + 'Sports_Segmented_by_Generations.xlsx')
activity_df = pd.read_excel(path + 'Activity_Category_Segmented_by_Generation.xlsx')
nonpart_df = pd.read_excel(path + 'Participation_Interests_Among_Non-Participants.xlsx')

In [16]:
nonpart_df

,Participation Interests Among Non-Participants,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,Interest Level,6~12,13~17,18~24,25~34,35~44,45~54,55~64,65+,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Camping,Camping,Camping,Camping,Camping,Camping,Bicycling,Birdwatching/Wildlife Viewing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Fishing,Fishing,Bicycling,Swimming For Fitness,Swimming For Fitness,Fishing,Camping,Fishing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Soccer,Swimming For Fitness,Martial Arts,Bicycling,Bicycling,Bicycling,Birdwatching/Wildlife Viewing,Working out using machines,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Basketball,Running/Jogging,Backpacking,Fishing,Fishing,Swimming for Fitness,Swimming For Fitness,Swimming For Fitness,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Bicycling,Working out using machines,Fishing,Canoeing,Working out with weights,Hiking,Fishing,Bicycling,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Martial Arts,Bicycling,Working out with weights,Hiking,Hiking,Working out with weights,Working out using machines,Hiking,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Swimming for Fitness,Working out with weights,Working out using machines,Backpacking,Working out using machines,Canoeing,Hiking,Camping,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Football,Basketball,Canieing,Working out with weights,Running/Jogging,Working out using machines,Working out with weights,Working out with weights,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Swimming on a Team,Football,Kayaking,Running/Jogging,Canoeing,Birdwatchching/Wildlife Viewing,Canoeing,Fitness Classes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Volleyball,Volleyball,Swimming For Fitness,Working out using machines,Basketball,Backpacking,Kayaking,Shooting,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Description: Outdoor activities appear to be o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
activity_df

,Activity Category Segmented by Generations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Gen Z(2000+),Millennials(1980-1999),Gen X(1965-1979),Boomers(1945-1964)
1,Individual Sports,0.458,0.424,0.344,0.238
2,Racquet Sports,0.187,0.185,0.113,0.063
3,Team Sports,0.571,0.295,0.145,0.052
4,Outdoor Sports,0.602,0.578,0.506,0.389
5,Winter Sports,0.133,0.116,0.067,0.029
6,Water Sports,0.149,0.19,0.129,0.084
7,Fitness Sports,0.508,0.665,0.654,0.597
8,Description: While age clearly affects how oft...,NaN,NaN,NaN,NaN

In [18]:
sportseg_df

,Participation Rates Segmented by Generations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Gen Z(2000+),Millennials(1980-1999),Gen X(1965-1979),Boomers(1945-1964)
1,Inactive,0.176,0.24,0.281,0.333
2,Low/Med Calorie,0.174,0.164,0.187,0.296
3,Casual & Low/Med Calorie,0.201,0.13,0.091,0.043
4,Active & High Calorie,0.185,0.113,0.091,0.063
5,Active to a Healthy Level,0.263,0.354,0.35,0.265