In [1]:
import pandas as pd

In [2]:
path = '/Users/zhaotangyao/Desktop/ads-on-run/csv/'
nonpart_df = pd.read_csv(path + 'Participation_Interests_Among_Non-Participants.csv',sep = ',')
activity_df = pd.read_csv(path + 'Activity_Category_Segmented_by_Generation.csv',sep = ',')
activity_df.dropna(axis=0, how='all',inplace=True)
sportseg_df = pd.read_csv(path + 'Sports_Segmented_by_Generations.csv', sep = ',')
sportseg_df.dropna(axis=0, how='all',inplace=True)

In [3]:
nonpart_df

,Participation Interests Among Non-Participants,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Interest Level,6~12,13~17,18~24,25~34,35~44,45~54,55~64,65+
1,1,Camping,Camping,Camping,Camping,Camping,Camping,Bicycling,Birdwatching/Wildlife Viewing
2,2,Fishing,Fishing,Bicycling,Swimming For Fitness,Swimming For Fitness,Fishing,Camping,Fishing
3,3,Soccer,Swimming For Fitness,Martial Arts,Bicycling,Bicycling,Bicycling,Birdwatching/Wildlife Viewing,Working out using machines
4,4,Basketball,Running/Jogging,Backpacking,Fishing,Fishing,Swimming for Fitness,Swimming For Fitness,Swimming For Fitness
5,5,Bicycling,Working out using machines,Fishing,Canoeing,Working out with weights,Hiking,Fishing,Bicycling
6,6,Martial Arts,Bicycling,Working out with weights,Hiking,Hiking,Working out with weights,Working out using machines,Hiking
7,7,Swimming for Fitness,Working out with weights,Working out using machines,Backpacking,Working out using machines,Canoeing,Hiking,Camping
8,8,Football,Basketball,Canieing,Working out with weights,Running/Jogging,Working out using machines,Working out with weights,Working out with weights
9,9,Swimming on a Team,Football,Kayaking,Running/Jogging,Canoeing,Birdwatchching/Wildlife Viewing,Canoeing,Fitness Classes
10,10,Volleyball,Volleyball,Swimming For Fitness,Working out using machines,Basketball,Backpacking,Kayaking,Shooting
11,Description: Outdoor activities appear to be o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
activity_df

,Activity Category Segmented by Generations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Gen Z(2000+),Millennials(1980-1999),Gen X(1965-1979),Boomers(1945-1964)
1,Individual Sports,0.4580,0.4240,0.3440,0.2380
2,Racquet Sports,0.1870,0.1850,0.1130,0.0630
3,Team Sports,0.5710,0.2950,0.1450,0.0520
4,Outdoor Sports,0.6020,0.5780,0.5060,0.3890
5,Winter Sports,0.1330,0.1160,0.0670,0.0290
6,Water Sports,0.1490,0.1900,0.1290,0.0840
7,Fitness Sports,0.5080,0.6650,0.6540,0.5970
8,Description: While age clearly affects how oft...,NaN,NaN,NaN,NaN

In [5]:
sportseg_df

,Participation Rates Segmented by Generations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Gen Z(2000+),Millennials(1980-1999),Gen X(1965-1979),Boomers(1945-1964)
1,Inactive,0.1760,0.2400,0.2810,0.3330
2,Low/Med Calorie,0.1740,0.1640,0.1870,0.2960
3,Casual & Low/Med Calorie,0.2010,0.1300,0.0910,0.0430
4,Active & High Calorie,0.1850,0.1130,0.0910,0.0630
5,Active to a Healthy Level,0.2630,0.3540,0.3500,0.2650